@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";

:root {
  font-size: 18;

  /* colors */
  --primary-clr: 56, 96%, 48%;
  --secondary-clr: 213, 15%, 48%;
  --accent-clr: 216, 8%, 62%;
  --misc: hsla(56, 71%, 83%, 0.8);

  --border-radius: 7px;
}
body,
html {
  height: 100%;
  font-family: "Noto Sans Display", sans-serif;
  background: hsl(var(--secondary-clr));

  color: var(--misc);
  background-repeat: initial;
  background-position: center;
  background-size: cover;
}
input::placeholder {
  font-size: 1.2em;
  font-weight: 500;
}
h1 {
  text-transform: uppercase;
  color: var(--misc);
  font-family: "Noto Serif", serif;
}
.header-container > h1 > span {
  font-weight: 700;
  color: hsl(var(--primary-clr));
}

#search-bar {
  max-width: 30rem;
  padding: 0.3em 0.5em;
  font-weight: 500;
  outline: none;
  border-radius: var(--border-radius);
  box-shadow: 3px 1px 20px 3px var(--misc), 1px 1px 7px 1px var(--misc);
  border: 1px solid transparent;
}
#search-bar:focus {
  box-shadow: inset 3px 1px 20px 3px var(--misc), 1px 1px 7px 1px var(--misc);
}
#search-btn {
  background-color: hsl(var(--primary-clr));
  color: white;
  font-size: 1.15rem;
  font-weight: bold;
  text-transform: uppercase;
}

.movie-center {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 13rem));
  grid-row-gap: 1.5rem;
  grid-column-gap: 1rem;
}
.movie-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid hsl(var(--secondary-clr));
  box-shadow: 1px 1px 10px 1px hsl(56, 100%, 0%);
  border-radius: var(--border-radius);
  padding: 0;
  transition: transform 500ms ease-out;
}
.img-container {
  height: 12rem;
  overflow: hidden;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
.img-container > img {
  height: 100%;
}

.movie-card > h4 {
  font-weight: 600;
  line-height: 1;
  letter-spacing: 2px;
  margin: 0.5em 0;
  font-size: 1em;
}

.movie-card > p {
  font-size: 0.7rem;
  line-height: 0.5;
  margin-top: 1em;
}

.movie-card:is(:hover, :focus) {
  cursor: pointer;
}
